<launch>
  <!-- Arguments -->
  <arg name="map_file" default="$(find scout_ur3e)/maps/scout_map.yaml"/>

  <!-- Scout UR3E -->
  <include file="$(find scout_ur3e)/launch/scout_ur3e_empty_world.launch"/>

  <!-- Spawn Boat -->
  <node name="object_spawner_node" pkg="scout_ur3e" type="spawn_boat.py" />
  <!-- <include file="$(find object_spawner)/launch/boat_spawner.launch"/> -->

  <!-- SLAM -->
  <include file="$(find scout_ur3e)/launch/scout_ur3e_gmapping.launch"/>

  <!-- Map server -->
  <!-- <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/> -->

  <!-- AMCL -->
  <include file="$(find scout_ur3e)/launch/amcl.launch"/>

  <!-- move_base -->
  <include file="$(find scout_ur3e)/launch/scout_ur3e_move_base.launch"/>

  <!-- rviz -->
  <include file="$(find scout_ur3e)/launch/display_scout_ur3e.launch"/>

</launch>
